:root {
  --darkGray: hsl(0, 0%, 63%);
  --black: hsl(0, 0%, 0%);
  --White: hsl(0, 0%, 100%);
  --veryDarkGray: hsl(0, 0%, 27%);

  --bodyFont: 15px;

  --font: "League Spartan", sans-serif;
}

* {
  font-family: var(--font);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-radius: 0;
}
body {
  overflow-x: hidden;
}

/* ---------------------------- */
/* nav */
/* ---------------------------- */

nav {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;

  position: fixed;
  top: 0;
  z-index: 99;
}
nav .navbar_background {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 98;

  transition: height 0.3s cubic-bezier(0, 0.43, 0, 1.34);

  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.47);
  box-shadow: 0px -2px 10px 0 black;
}
nav .content_container {
  height: 100%;
  width: 95%;
  display: flex;
  align-items: center;
}
nav .logo {
  height: 15px;
  width: max-content;
  margin-right: 40px;
  object-fit: cover;
  z-index: 99;
}
nav .logo img {
  width: 100%;
  height: 100%;
}
nav .nav__items {
  display: flex;
  list-style: none;
  z-index: 99;
}
nav .nav__items .nav__item {
  width: max-content;
  font-size: 18px;
  color: var(--White);

  cursor: pointer;

  position: relative;
}
nav .nav__items .nav__item .slideingBorder_left {
  height: 2px;
  background-color: white;
  width: 0;
  transition: width 0.5s;

  position: absolute;
  left: 50%;
  transform: translateY(-50%);
}
nav .nav__items .nav__item .slideingBorder_right {
  height: 2px;
  background-color: white;
  width: 0;
  transition: width 0.5s;

  position: absolute;
  right: 50%;
  transform: translateY(-50%);
}
nav .nav__items .nav__item:hover .slideingBorder_left {
  width: 50%;
}
nav .nav__items .nav__item:hover .slideingBorder_right {
  width: 50%;
}

nav .nav__items .nav__item:not(:last-child) {
  margin-right: 20px;
}

nav .mobile-nav {
  width: 95%;

  display: none;
  align-items: center;

  position: relative;
  z-index: 99;
}
nav .nav_menu {
  cursor: pointer;
}
nav .mobile-nav .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

nav .mobile-nav-options {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  position: absolute;
  z-index: 99;

  background-color: white;
  transform: translateX(100%);
  transition: transform 0.8s;
}
nav .mobile-nav-options .close_mobile_nav {
  margin-left: 20px;
  cursor: pointer;
}
nav .mobile-nav-options .nav__items {
  margin-left: auto;
  margin-right: 20px;
}
nav .mobile-nav-options .nav__items .nav__item {
  color: black;
}
/* ---------------------------- */
/* slider section */
/* ---------------------------- */
.slider {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  opacity: 1;
  transition: opacity 1s;
}
.slider .background_img {
  height: 100%;
  width: 60%;
}
.slider .background_img img {
  object-fit: cover;
  object-position: left;
  height: 100%;
  width: 100%;
}

.slider .text_content {
  height: 100%;
  width: calc(100% - 60%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  margin: 0 auto;
  position: relative;
}
.slider .text_content h1 {
  font-size: 45px;
  max-width: 425px;

  margin-bottom: 20px;
}

.slider .text_content p {
  max-width: 425px;
  color: var(--darkGray);
  font-size: var(--bodyFont);
  line-height: 25px;
  margin-bottom: 20px;
}
.slider .text_content .CTA_button {
  width: 100%;
  max-width: 425px;
}
.slider .text_content .CTA_button img,
span {
  transition: all 0.5s;
}
.slider .text_content .CTA_button span {
  text-transform: uppercase;
  letter-spacing: 10px;
}

.slider .text_content .CTA_button:hover span {
  color: var(--darkGray);
  cursor: pointer;
}
.slider .text_content .CTA_button:hover img {
  transform: translateX(5px);
}

.move_slider_BTNS {
  width: 25%;
  height: 60px;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  touch-action: manipulation;
}
.move_slider_BTNS .slider_option {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--black);

  cursor: pointer;
}
.move_slider_BTNS .slider_option img {
  width: 20%;
  height: auto;
}
.move_slider_BTNS .slider_option:hover {
  background-color: var(--veryDarkGray);
}
/* ---------------------------- */
/* About section */
/* ---------------------------- */

.about {
  display: flex;
}
.about .sideImg {
  width: 30%;
}
.sideImg img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}
.about .text_content {
  width: calc(100% - 60%);
  max-width: 600px;
  display: flex;
  flex-direction: column;

  justify-content: center;
  margin: 0 auto;

  padding: 40px;
}
.about .text_content h3 {
  font-size: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.about .text_content p {
  color: var(--darkGray);
  font-size: var(--bodyFont);
  line-height: 25px;
  margin-bottom: 20px;
}

@media screen and (max-width: 1120px) {
  .slider {
    position: relative;
    background-color: rgb(0, 0, 0);
  }
  .slider .background_img {
    width: 100%;
    opacity: 0.4;
  }
  .slider .text_content {
    width: 100%;
    position: absolute;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
    backdrop-filter: blur(2px);
  }
  .slider .text_content h1 {
    color: var(--White);
  }
  .slider .text_content .CTA_button {
    color: white;
  }
  .move_slider_BTNS {
    width: 150px;
    right: 0;
    left: unset;
  }
}

@media screen and (max-width: 900px) {
  /*  */
  .about {
    flex-direction: column;
  }
  .about .sideImg {
    width: 100%;
  }
  .about .text_content {
    width: 95%;
    padding: 50px 0;
  }
}
@media screen and (max-width: 500px) {
  nav .content_container {
    display: none;
  }
  nav .mobile-nav {
    display: flex;
  }
  .slider {
    height: fit-content;
    flex-direction: column;
    background-color: unset;
  }
  .slider .text_content {
    width: 100%;
    position: relative;
    left: unset;
    top: unset;
    transform: unset;
    backdrop-filter: unset;
    padding: 50px 20px;
  }
  .slider .background_img {
    opacity: 1;
  }
  .slider .text_content h1 {
    color: var(--black);
    font-size: 30px;
  }
  .slider .text_content .CTA_button {
    color: var(--black);
  }
  .move_slider_BTNS {
    width: 100px;
    height: 50px;
    bottom: unset;
    top: -55px;
  }
}
